.modal-content {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.list-group {
    border-top:1px;
}

.text-timer {
    font-size: 16pt;
    font-family: 'Audiowide', cursive; 
    text-align: center;
}

#userbox-container {
    margin-top: 5px;
    height: 150px;
    width: 300px;
}

.userbox-image {
    background-position: center;
    background-size: cover;
    height: 75px;
    width: 75px;
}
