.modal-content {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.list-group {
    border-top:1px;
}

.text-timer {
    font-size: 16pt;
    font-family: 'Audiowide', cursive; 
    text-align: center;
}

.navbar-user-img {
    height: 30px;
    max-height: 30px;
}

