.modal-content {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.list-group {
    border-top:1px;
}

.text-timer {
    font-size: 16pt;
    font-family: 'Audiowide', cursive; 
    text-align: center;
}

#userbox-container {
    margin: 15px;
    height: 100px;
    width: 100px;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.1;
    cursor: pointer;
    z-index: 1100;
}

#userbox-container:hover {
    opacity: 1.0;
}


#userbox-image {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#userbox-text {
    position: absolute;
    top: 75%;
    left: 30%;
    min-width: 200%;
}
